bin/
obj/
out/
wwwroot/lib/

.idea/
*.sln.iml

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

_ReSharper.Caches/
*.DotSettings.user

*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

appsettings.Development.json

node_modules/
npm-debug.log
yarn-error.log

coverage/
TestResults/

*.log

.env

.DS_Store
Thumbs.db